/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
    --primary-dark-bg: #1a1d28;
    --primary-red: #ff3c57;
    --primary-pink: #e17396;
    --primary-green: #33ab4e;
    --primary-purple: #7e7aec;
    --primary-orange: #ff833c;
    --primary-blue: #3c57ff;
    --primary-blue-hover: #364ee6;
    --primary-red-hover: #ff3c57;
}

main h2 {
    font-size: 24px;
}

input[type="text"], input[type="email"], #message {
    width: 325px;
    height: 46px;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .2) 0px 26px 30px -10px, rgba(0, 0, 0, .2) 0px 16px 10px -10px;
    font-size: 17px;
    font-weight: 400;
    color: #020202;
    text-align: left;
}

input#guess-button:disabled {
    background: #4c5276c2;
    color: #8288a3;
    cursor: default;
}

span#guesses {
    color: #ff5f4f;
    font-weight: 700;
}

#message {
    margin-bottom: 40px;
    line-height: 1.25;
}

textarea {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 330px;
    height: 100px;
    padding: 7px 15px;
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .2) 0px 26px 30px -10px, rgba(0, 0, 0, .2) 0px 16px 10px -10px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    text-align: left;
}

label {
    display: block;
    text-align: left;
}

form input+input {
    margin-top: 15px;
}



input:focus {
    border: 1px solid rgba(255, 255, 255, .25);
}



.primary-button,
.secondary-button {
    margin-left: 15px;
    width: 132px;
    height: 46px;
    text-align: center;
    border-radius: 10px;
    
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .2px;
    transition: all 0.25s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.primary-button {
    background-color: #278bf4;
    transition: 0.5s;
    color: #ffffff;
    background-size: 200% auto;
}

.secondary-button {
    background: #ffffff2e;
    border: 1px solid #fff;
}

.secondary-button:hover {
    background-color: #165ba4;
    border: 1px solid var(--primary-pink);
}
.primary-button:hover {
    background-color: #165ba4;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Dark mode                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */



body.dark {
    background-color: #202127;
}



body.dark .container main section h2,
body.dark .container main section .result p {
    color: #fff;
}



body.dark .container main section input[type="text"] {
    color: #fff;
}



body.dark .container main section .result {
    background-color: #33343d;
}